body{
    background-color: #0f0f0f;
    color: white;
    overflow-x: hidden;
}
.container-all{
    width: 1400px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(25px);
    animation: slideUp .5s ease-out forwards;}
    @keyframes slideUp{
        to{
            opacity: 1;
            transform: translateY(0);
        }}
.container{
    margin-top: 120px;
    margin-bottom: 140px;}
.overlay{
    text-transform: lowercase;
    opacity: .2;
}




nav{
    position: sticky;
    display: flex;
    top: 0;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: rgb(125, 125, 125);
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 100;}
    .p-nav.active{
        color: white;
        border-bottom: 2px solid white;}
section{
    scroll-margin-top: 80px;}
.blocks{
    display: flex;
    gap: 10px;}
    .blocks img{
        max-width: 50px;
        max-height: 50px;}


.bar{
    width: 80%;
    height: 200px;
    margin: 40px 0 40px 0;
    display: flex;
    align-items: flex-start;
    color: white;
    border: solid rgb(150, 150, 150) 2px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    transition: all .5s ease;}
.bar img{
    width: 33.33%;
    height: auto;
    flex-shrink: 0;}
.bar h3{
    align-self: center;}
    .bar:hover{
        transform: scale(1.1);
        border: solid rgb(255, 145, 0);}
.bar-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    right: 0;
    width: 25%;
    height: 100%;
    padding: 0 30px 0 60px;
    background-color: black;
    opacity: 0;

    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 100%);
    
    transform: translateX(100%);
    transition: transform 0.5s ease;}
    .bar:hover .bar-info{
        opacity: 1;
        display: flex;
        transform: translateX(0);
    }

.journey{
    display: flex;
    margin: 50px 0 50px 0;
}
.journey img{
    max-width: 50px;
    flex-shrink: 0;
    margin: 0 auto;
}
.block{
    width: 240px;
    padding: 0 0 0 20px;}



h1{
    font-size: 60px;}
h2{
    font-size: 40px;}
h3{
    font-size: 2rem;
    padding: 30px;
    position: absolute;}
p{
    font-size: 1.4rem;}
.p-nav{
    font-size: 1.2rem;}
.pd{
    font-size: 1.2rem;}
.pt{
    font-size: 1.2rem;
    color: rgb(125, 125, 125);}